PORT=
MONGODB_URI=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
OPENAI_API_KEY=
AI_PROVIDER=
GEMINI_API_KEY=
GEMINI_MODEL=
MAPBOX_ACCESS_TOKEN=
ZALOPAY_APP_ID=
ZALOPAY_KEY1=
ZALOPAY_KEY2=
ZALOPAY_ENDPOINT=
ZALOPAY_QUERY_ENDPOINT=
# Khi deploy thay bằng domain thật
ZALOPAY_CALLBACK_URL=
# Gắn link web để quay trở lại sau khi đăng kí gói xong(web đã deploy)
ZALOPAY_REDIRECT_URL=
#Gắn link web để quay trở lại sau khi thanh toán phí đăng bài xong(web đã deploy)
ZALOPAY_REDIRECT_URL2=